.contact-table {
  overflow: hidden;
  background: white;
  font-size: 22px;
  border: none;

  #n1 {
    padding-left: 29px;
  }

  tbody tr th {
    padding-top: 15px;
    padding-bottom: 15px;
    &:first-child{
      padding-left: 28px;
    }
  }

  tbody tr {
    padding-top: 10px;
    &:hover {
    background: #F2F2F2;
    }
  }

  thead {
    background: $my-blue;
    color: white;
    height: 82px;
  }

  table {
    width: 100%;
  }

  .header {
    font-size: 26px;
    font-weight: bold;
  }

  a {
    color: black;
    &:hover {
      color: #1D7A8C;
    }
  }
}
