.contact-table {
  overflow: hidden;
  background: white;
  font-size: 22px;
  border: none;
  text-align: center;

  // #n1 {
  //   padding-left: 29px;
  // }



  tbody tr th {
    padding-top: 15px;
    padding-bottom: 15px;
    // &:first-child{
    //   padding-left: 28px;
    // }
  }

  tbody tr {
    padding-top: 10px;
    &:hover {
    background: #F2F2F2;
    }
  }

  tbody tr:first-child td {
    padding-top: 20px;
  }

  thead {
    color: #777777;
    text-transform: uppercase;
    // height: 82px;
  }

  table {
    width: 100%;
  }

  .header {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid grey;

    th {
      padding-bottom: 14px;
    }
  }

  a {
    color: black;
    &:hover {
      color: #1D7A8C;
    }
  }
}
