.form-select {
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 0px;
}
#new_event {
  margin-top: 60px;
}

// .was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select[size="1"]:invalid:not([multiple]), .form-select.is-invalid:not([multiple]):not([size]), .form-select.is-invalid[size="1"]:not([multiple]) {
//   background-repeat: no-repeat;
// }
