<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4 bg-white mt-5">

      <h2>Create a new family</h2>

      <%= simple_form_for(@family) do |f| %>
        <div class="d-flex">
          <div class="row col-10">
            <%= f.input :last_name %>
            <%= f.abyme_for(:family_members) %>
          </div>
        </div>
        <%= f.button :button, class: "button-52-peach specialbutton" %>
      <% end %>

    </div>
  </div>
</div>
