<div class="container mt-4">

  <h1>Create a new family</h1>

  <%= simple_form_for(@family) do |f| %>
    <div class="d-flex">
      <div class="row col-10">
        <%= f.input :last_name %>
        <%= f.abyme_for(:family_members) %>
      </div>
    </div>
    <%= f.button :button, class: "button-52-peach" %>
  <% end %>

</div>
