<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4 bg-white mt-5">
   <div class="mb-5"> <h2>Ajouter depuis Gmail</h2></div>
    <p>Ma Family s'appelle <%= @family.last_name %></p>
      <div>Les membres de ma Family sont:
        <% @family.family_members.each do |member| %>
          <p><%= "#{member.first_name} #{member.last_name}" %></p>
        <% end %>
      </div>

    <%= link_to 'Ajouter depuis Gmail', calendar_redirect_path, class: "button-52-peach" %>
    </div>
  </div>
</div>
