<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to 'ici', calendar_redirect_path, class: "btn btn-primary" %>

<% if user_signed_in? %>
  <% if current_user.family_member? %>
    <%= link_to "Your Schedule", family_conflicts_path(:family_id) %>
  <% else %>
    <%= link_to "Add your family", new_family_path %>
  <% end %>
<% end %>
