.btn-flat {
  color: black;
  font-family: 'Overpass', sans-serif;
  font-size: 30px;
  padding: 8px 24px;
  border-radius : 30px;
  background: #1D7A8C;
  transition: background 0.3s ease;
    &:hover {
    background: #70b7c5;
    color: white;
  }
}

.btn-flat-full {
  color: black;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 24px;
  border-radius : 6px;
  border : 1px solid black;
  background: #d9eef2;
  transition: background 0.3s ease;
    &:hover {
    background: #70b7c5;
    color: white;
  }
}

.btn-orange {
  margin-left : 8px;
  font-family: 'Overpass', sans-serif;
  font-size: 30px;
  background-color: #F08B75;
  border: 2px solid #F08B75;
  border-radius : 30px;
  color: white;
  padding: 10px;
  &:hover {
    color: white;
    margin-left : 8px;
    background-color: #f1b4a7;
    border: 2px solid #f1b4a7;
    border-radius : 30px;
  }
}

.btn-orange-full {
  margin-left : 8px;
  font-family: 'Overpass', sans-serif;
  font-size: 30px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F08B75;
  border: 2px solid #F08B75;
  border-radius : 30px;
  color: white;
  padding: 10px;
  &:hover {
    color: white;
    margin-left : 8px;
    background-color: #f1b4a7;
    border: 2px solid #f1b4a7;
    border-radius : 30px;
  }
}

.button-52-peach {
  font-size: 24px;
  font-family: 'Bebas neue';
  color: black !important;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52-peach:after {
  content: "";
  background-color: #F08B75;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52-peach:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52-peach {
    padding: 13px 50px 13px;
  }
}

.button-52 {
  font-size: 24px;
  font-family: 'Bebas neue';
  color: black !important;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #F08B75;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}
