.calendar-title {
  display: flex;
  align-items: center;
  background: white;
  width: fit-content;
}

.calendar-title > h2 {
  font-size: 40px;
  color: black;
  background-color: white;
  margin-right: 20px;
}

.iconcolor {
  font-size: 30px;
  color: black;
  opacity: 1;
  &:hover {
    opacity: 0.7;

  }
}
