.calendar-title {
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}

.calendar-title > h2 {
  background-color: white;
}

.calendar-title > .icon {
  font-size: 50px;
  margin-left: 20px;
  color: #70b7c5;
}
