.container {
  font-size: 24px;
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 0;
}

.form-select {
  border-radius : 30px;
}

a {
  color: $my-peach;
  text-decoration: none;
  &:hover{
    color: #f5bdb1;
  }
}

#particularity {
  border-bottom: none;
}

#abyme {
  margin: 10px 0px;
  padding: 10px;
  background-color: rgb(252, 249, 249);
  border-radius: 4px;
  position: relative;
}

#delete-member {
  background-color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}

#add-member {
  background-color: white;
  margin-bottom: 40px;

}

.event-form-font {
  font-size: 20px;
}
