.modal-dialog {
  max-width: 50vw;
}

.modal-header {
  border-bottom: none;
  .modal-title {
    border-bottom: 1px solid black;
  }
}

.modal-content {
  border: none;
  border-radius: 4px;
}

.modal-body {
  display: flex;
  .left-part {
    width: 70%;
    .no-problem {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .all-events {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .right-part {
    width: 30%;
    background-color: #ffece8;
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    &:before {
      content: "";
      width: 97%;
      height: 103%;
      top: -23px;
      left: -14px;
      position: absolute;
      border-left: 2px solid #F08B75;
      border-bottom: 2px solid #F08B75;
    }
    .no-problem {
      height: 100%;
      width: 50%;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: rotate(16deg);
    }
  }
}

.la-modale .user-event {
  padding: 1vh;
  .first-line-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .events-list {
    display: flex;
    align-items: center;
  }
  .event-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  h2 {
    font-size: 1.5rem;
    color: #ED8074;
    margin: 0px 5px;
  }
  h3 {
    font-family: 'Overpass', sans-serif;
    font-size: 1.2rem;
    margin: 0px 5px;
  }
  .event-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    margin-left: 34%;
  }
}

.la-modale .help-options {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 5vh;
  margin-top: 5vh;
  justify-content: space-around;
  .help-items {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
    img {
      height: 30px;
      opacity: 0.6;
    }
    a {
      color: grey;
      font-size: 1.10rem;
    }
    &:hover {
      img {
        opacity: 1;
        height: 44px;
      }
      a {
        border-bottom: 2px solid $light-gray;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      }
    }
  }
}

.iconcareful {
  height: 22px;
  transform: rotate(10deg);
}

.editIcon {
  height: 1.2rem;
  margin-left: 10px;
}

.editupdate {
  line-height: max($numbers: 10px);
}
