.modal-dialog {
  max-width: 50vw;
}

.modal-header {
  border-bottom: none;
  .modal-title {
    border-bottom: 1px solid black;
  }
}

.modal-content {
  border: none;
  border-radius: 4px;
  margin-top: 16%;
}

.modal-body {
  display: flex;
  .left-part {
    width: 60%;
    margin-right: 5%;
    h3 {
      width: fit-content;
      margin-bottom: 10px;
    }
    .all-events {
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .right-part {
    width: 30%;
    background-color: #ffece8;
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    &:after {
      content: "";
      width: 97%;
      height: 103%;
      top: -23px;
      left: -14px;
      position: absolute;
      border-left: 2px solid #F08B75;
      border-bottom: 2px solid #F08B75;
    }
    .no-problem {
      height: 100%;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.2rem
    }
  }
}

.la-modale .user-event {
  .first-line-block {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
  }
  .events-list {
    display: flex;
    align-items: center;
  }
  .event-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  h2 {
    font-size: 1.5rem;
    color: #ED8074;
    margin-bottom: 0px;
  }
  p {
    margin: 0px 5px;
    font-size: 1.2rem;
  }
  .event-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    margin-left: 22%;
  }
}

.la-modale .help-options {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 15%;
  justify-content: space-around;
  .help-items {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  z-index: 3;
    img {
      height: 30px;
      opacity: 0.6;
    }
    a {
      color: grey;
      font-size: 1.10rem;
    }
    &:hover {
      img {
        opacity: 1;
      }
      a {
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        color: rgb(62, 62, 62);
      }
    }
  }
}

.editIcon {
  height: 1.2rem;
  margin-left: 10px;
}

.editupdate {
  line-height: max($numbers: 10px);
}
