.navbar-lewagon {
  align-items: center;
 // color: transparent;
  position: relative;
}

.navbar {
  padding: 0px;
}

.container-fluid {
  padding-left: 0px;
}

.logo img {
width : 185px;
}

.navbar-collapse {
  font-size: 24px;
  position: relative;
  padding-right: 3%;
}

#navbarSupportedContent {
  justify-content: flex-end;
}

.navbar-lewagon .navbar-brand img {
  width: 9vw;
}

.nav-link {
  font-size: 18px;
  color: white;
  margin: 0px 4px;
  border: none;
  &:hover {
    border-bottom: 2px solid gray;
  }
}

.user-infos{
  margin-bottom: 8vh;
  width: 56vw;
}
