.navbar-lewagon {
  justify-content: center !important;
  align-items: center;
  background-color: #fffffff2;

}

.container-fluid {
  justify-content: center !important;
  align-items: center;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
