.navbar-lewagon {
  align-items: center;
 // color: transparent;
  position: relative;
}

.navbar {
  padding: 0px;
}

.container-fluid {
  padding-left: 0px;
}

.logo img {
width : 185px;
}

.navbar-collapse {
  font-size: 24px;
  position: relative;
  // flex-grow: unset;
}

.navbar-lewagon .navbar-brand img {
  width: 185px;
}

.nav-link {
  font-size: 18px;
  color: white;
  margin: 0px 10px;
  &:hover {
    border-bottom: 2px solid $light-gray;
  }
}

#reminder-dropdown img {
  width: 45px;
  margin-right: 4vh;
}
