
h2 {
      font-size: 60px;
      color: #1D7A8C;
      text-align: center;
    }

.simple-calendar {
  border: 0;
  background-color: white;
  // font-size: 40px;
  font-family: 'Spartan', sans-serif;
  .table {
    border-radius: 20px;
    overflow: hidden;
    border: none;

  }

  .calendar-heading {
      display: flex;
      justify-content: space-around;
      background: #ED8074;
      color: white;
      padding: 10px 0;
      border-radius: 20px 20px 0 0;
  }
  thead {
    height: 10vh;
    th {
      text-align: center;
      vertical-align: top;
    }
    th:first-child {
      border-left: none;
    }
    th:last-child {
      border-right: none;
    }
  }

  td  {
    text-align: center;
    padding: 6px;
    vertical-align: top;
    width: 14%;
  }

  tbody {
    tr {
      td {
        // border-bottom-color: grey;
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }

  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #1D7A8C;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: #BFBFBF;
  }
  .next-month {
    background: #BFBFBF;
  }
  .current-month {}

  .has-events {
    background-color: #ED8074;
  }

  .has-events h6 {

  }
 span {
    color: white;
    font-weight: bold;
 }

 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
 }
  .day-events {
    background-color: #ED8074;
  }
}
