.simple-calendar {
  border: 0;
  .table {

    border-radius: 30px;
  }

  thead {

    height: 10vh;
    justify-content: center;
    text-align: center;
    th:first-child {
      border-left: none;
    }
    th:last-child {
      border-right: none;
    }
  }


  td  {

    border-radius: 10px;
    padding: 6px;
    vertical-align: top;
    width: 14%;

  }


  .day {

  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #1D7A8C;

  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {
    background-color: #ED8074;
  }

  .has-events h6 {

  }
 span {
   color: #ED8074;
 }

 a {
   color: #ED8074;
 }
  .day-events {
    background-color: #ED8074;
  }

}
