.contact-table {
  width: 100%;
  border: 3px solid #1D7A8C;
  border-radius: 5px;
}

.contact-table > thead {
  font-size: 30px;
  background-color: #1D7A8C;
  color: white;
  font-family: $headers-font;
}

.contact-table > tbody {
  font-size: 20px;
  background-color: white;
  opacity: 0.9;
}

.contact-table > th {
  padding: 2px 6px
}

.addcontact {
  background-color: #1D7A8C;
  // width: fit-content;
}
